redirects: on
source https://nuget.org/api/v2

nuget FAKE
nuget Microsoft.Data.OData
nuget WindowsAzure.Storage < 9.0.0
nuget xunit
nuget xunit.runner.console
nuget AutoFixture.AutoMoq
nuget AutoFixture.Xunit2
nuget Serilog
